html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/bg-boat.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body{
  margin: 0;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
.menu-topo{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  background-color: #1da1f2;
  color: #fff;
  font-weight: 500;
  height: 60px;
  margin-bottom: 20px;
}
.menu-topo ul li{
  list-style: none;
  display: inline-block;
}
.menu-topo span{
  font-size: 1.6rem;
}
.menu-topo span a{
  color: #fff;
  text-decoration: none;
}
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}
form {
  background: #fff;
  width: 500px;
  height: 100%;
  padding: 30px;
  margin-bottom: 30px;
}
#post-tweet {
  width: 100%;
  max-height: 100%;
  border: none;
  border-bottom: 2px solid #1da1f2;
  padding: 5px;
  margin-bottom: 20px;
  color: #657786;;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  resize: none;
  overflow: hidden;
}
#post-tweet::placeholder {
  color: #cdd0d3;
  font-size: 1.2em;
}
#btn-tweet{
  width: 25%;
  height: 30px;
  background-color: #1da1f2;
  color: #fff;
  font-size: 1rem;
  border-radius: 16px;
  border: 1px solid #fff;
}
#btn-tweet:hover{
  background-color: #fff;
  color: #1da1f2;
  border: 1px solid #1da1f2;
}
#btn-tweet .desabled{
  background-color: #A7DBFB;
  border-color: transparent;
}
#remening{
  position: relative;
  top: -10px;
  right: 0;
  left: 90%;
  width: 10%;
  height: 20px;
  margin: 0;
  text-align: left;
  font-size: 0.8rem;
  color:#657786;
  font-weight: 800;
}
#comment-posted {
  width: 500px;
  height: 100%;
}
.printed-tweet{
  width: 100%;
  background: #fff;
  padding: 30px;
  color: #657786;
  font-size: 1.5rem;
  word-wrap: break-word;
}
.add-opacity{
  opacity: 0.4;
}
